$main-color: red;

.box {
    background-color: $main-color;
    width: 300px;
    height: 600px;

    .chil {
        height: 20px;
        width: 60px;
        background-color: $main-color;
        border: solid 10px green;
    }

}

@mixin theme($color: Red) { 
    background-color: $color;
    box-shadow: 0 0 1px $color;
    color: #fff;
}
.styled {
    @include theme($color: Black)
}